In [1]:
import pandas as pd
import numpy as np

In [2]:
import cv2

In [3]:
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv("data.csv")

In [5]:
data

             images          masks
0    images/001.png  masks/001.png
1    images/002.png  masks/002.png
2    images/003.png  masks/003.png
3    images/004.png  masks/004.png
4    images/005.png  masks/005.png
..              ...            ...
361  images/362.png  masks/362.png
362  images/363.png  masks/363.png
363  images/364.png  masks/364.png
364  images/365.png  masks/365.png
365  images/366.png  masks/366.png

[366 rows x 2 columns]

# Convert images

We convert each image of the dataset in a white/black image where 255 is the segmented class and 0 background. 

Original dataset has 2 classes, blood cells and bacteria, 1 value pixels are blood cells and 2 value pixels are bacteria. We use a threshold inverted by 1 to segment only blood cells.

In [7]:
for index,row in data.iterrows():
    img = cv2.imread((row["masks"]))
    ret, img = cv2.threshold(img, 1, 255, cv2.THRESH_TOZERO_INV)
    ret, img = cv2.threshold(img, 0, 255, cv2.THRESH_BINARY)
    img = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    cv2.imwrite(row["masks"], img)